### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$

# IDEA
######
.idea/

# VScode files
.vscode/
.env
dump.sql
test_localsystem.txt


# Jupyter checkpoints
.ipynb_checkpoints
